.button_web {
    border-bottom: 3px solid white;
}

main {
    background: url("../../portfolio/images/web_bg_2.e287730516ea.jpg") no-repeat fixed center;
    background: #F5F5F5;

}

.quizz_div {
    padding: 70px 20px 20px;
    height: 550px;
    align-items: center;

}

.quizz_titulo {
    text-align: center;
}

.info_container {
    width: 700px;
    margin: auto;
}

legend {
    text-align: center;
}

fieldset {
    padding: 10px;
}



.perguntas_container {
    width: 700px;
    margin: auto;

}

.submit_div {
    text-align: center;
}

.submit_btn {
    position: absolute;
    margin-top: 20px;
}

.meteorologia_div {
    text-align: center;
    padding-top: 20px;

}

.meteo_conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.meteo_card {
    background-color: lightgray;
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
}

.meteo_card h2 {
    padding-top: 10px;
}

.content_grid {

    display: grid;
    grid-template-columns: 50% 50%;
    height: 120px;
}

.img_div {
    background: url("../images/temp.6eac7d775ed4.png");
    background-size: cover;
}

.info_div {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.google_search {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.container {
    font-size: 15px;
    color: black;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    filter: none;
    height: 50px;
    border: 1px solid transparent;
    background: lightgray;
    border-radius: 40px;
    transition: 0.3s ;
}

.search_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container:hover, .container:focus, .search_input:hover, .search_input:focus{
    border-color: white;
    background-color: rgba(0 0 0 / .01);
    outline: 0;
}

.icon_div {
   background: url("../images/pesquisar.d0ec786edc39.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    bottom: 15px;
}
.search_input {
    position: absolute;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    width: 248px;
    border: transparent;
    background: lightgray;
    filter: none;
    height: 49px;
    font-family: 'Roboto', sans-serif;
    left: 50px;

}
.container {
    position: relative;
}

.programacao_web_div {
    text-align: center;
}

.labs_div {
    padding-top: 5vh;
    height: 100px;
}

.labs {
    text-decoration: none;
    color: black;
}

.tecnologias {
    padding: 20px;
}