{%  extends 'portfolio/layout.html' %}

{% block estilos %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/styles_about.css' %}" type="text/css">
{% endblock %}

{% block main %}
    <div class="licenciatura">
        <div class="info-side">
            <br>
            <br>
            <br>

            <h1>Licenciatura</h1>
            <h3 class="uni_name">Universidade Lusófona de Humanidades e Tecnologias</h3>
            <br>
        </div>

        {% if request.user.is_authenticated %}
            <div class="btn_div">
                <a href="{% url 'portfolio:criar_cadeira' %}" class="btn">+ Nova Cadeira</a>
            </div>
        {% endif %}


        <div class="cards-side">
            <div class="cards-conteiner">
            {% for cadeira in cadeiras %}
                <div class="card">
                    <h2>{{ cadeira.nome}}</h2>
                    <br>
                    <p>{{ cadeira.ano}}º Ano - {{ cadeira.semestre }}º Semestre</p>
                    <br>
                    <p>Nota: {{ cadeira.nota}}</p>
                    <br>
                    <p>ECTS: {{ cadeira.ects }}</p>
                    <br>
                    {% if cadeira.ranking == 1 %}
                        <p>Ranking {{ cadeira.ranking }}/5 ⭐</p>
                    {% endif %}
                    {% if cadeira.ranking == 2 %}
                        <p>Ranking {{ cadeira.ranking }}/5 ⭐⭐</p>
                    {% endif %}
                    {% if cadeira.ranking == 3 %}
                        <p>Ranking {{ cadeira.ranking }}/5 ⭐⭐⭐</p>
                    {% endif %}
                    {% if cadeira.ranking == 4 %}
                        <p>Ranking {{ cadeira.ranking }}/5 ⭐⭐⭐⭐</p>
                    {% endif %}
                    {% if cadeira.ranking == 5 %}
                        <p>Ranking {{ cadeira.ranking }}/5 ⭐⭐⭐⭐⭐</p>
                    {% endif %}
                    <br>
                    <div class="professors_grid">
                        <div class="professor">
                            <h3>Teóricas</h3>
                            <p>{{ cadeira.professor_teorica}}</p>
                            <a href="{{ cadeira.professor_teorica.linkedin }}" target="_blank" >Linkedin</a>
                            <a href="{{ cadeira.professor_teorica.universidade }}" target="_blank">Universidade</a>
                        </div>
                        <div class="professor">
                            <h3>Práticas</h3>

                            {% for professor in cadeira.professor_pratica.all%}
                                <p>{{ professor }}</p>
                                <a href="{{ professor.linkedin }}" target="_blank" >Linkedin</a>
                                <a href="{{ professor.universidade }}" target="_blank">Universidade</a>
                            {% endfor %}
                        </div>
                        <br>
                    </div>
                    {% if cadeira.projetos is not Blank %}
                        {% for projeto in cadeira.projetos.all %}
                            {{projeto}}
                        {% endfor %}
                    {% endif %}

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="educacao">

        <h2>Educação</h2>
        <div class="escolas">
            <ul>
                <li>Escola Secundária Alves Redol</li>
            </ul>
        </div>
    </div>

    <div class="interesses">
        <h2>Interesses e Hobbies</h2>
        <div>
            <ul>
                <li>
                    Voleibol 🏐
                </li>
            </ul>
        </div>
    </div>
    
    <div class="video_div" style="height: auto; text-align: center; color: white">
        <h1>Apresentão Portfolio</h1>
        <figure >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/O86sNuzxg2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen"></iframe>
        </figure>
    </div>






{% endblock %}