{%  extends 'portfolio/layout.html' %}

{% block estilos %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/styles_cadeiras.css' %}" type="text/css">
{% endblock %}

{% block main %}
    <div>
        <div class="info-side">
            <h1>Cadeiras</h1>
            <h1>O PROBLEMA DO FOOTER ESTÁ NO SPLIT CONTEINER</h1>
        </div>
        <div class="cards-side">
            <div class="cards-conteiner">
        {% for cadeira in cadeiras %}
            <div class="card">
                <p>{{ cadeira.nome}}</p>
                <br>
                <p>{{ cadeira.ano}}º Ano - {{ cadeira.semestre }}º Semestre</p>
                <br>
                <p>Nota: {{ cadeira.nota}}</p>
                <br>
                {% if cadeira.ranking == 1 %}
                    <p>Ranking {{ cadeira.ranking }}/5 ⭐</p>
                {% endif %}
                {% if cadeira.ranking == 2 %}
                    <p>Ranking {{ cadeira.ranking }}/5 ⭐⭐</p>
                {% endif %}
                {% if cadeira.ranking == 3 %}
                    <p>Ranking {{ cadeira.ranking }}/5 ⭐⭐⭐</p>
                {% endif %}
                {% if cadeira.ranking == 4 %}
                    <p>Ranking {{ cadeira.ranking }}/5 ⭐⭐⭐⭐</p>
                {% endif %}
                {% if cadeira.ranking == 5 %}
                    <p>Ranking {{ cadeira.ranking }}/5 ⭐⭐⭐⭐⭐</p>
                {% endif %}
                <br>
                <div class="professors_grid">
                    <div>
                        <h3>Teóricas</h3>
                        <p>{{ cadeira.professor_teorica}}</p>
                        <a href="" target="_blank" >Lusófona</a>
                    </div>
                    <div>
                        <h3>Práticas</h3>
                        <p>
                            {% for professor in cadeira.professor_pratica.all%}
                                {{ professor }}
                            {% endfor %}
                        </p>
                    </div>
                <br>

                </div>
                {% if cadeira.projetos is not Blank %}
                    {% for projeto in cadeira.projetos.all %}
                        {{projeto}}
                    {% endfor %}
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>



    </div>





{% endblock %}