<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link href="../../static/portfolio/css/styles_layout.css" rel="stylesheet" type="text/css">
    {% block script %}
    
    {% endblock %}

    {% block estilos %}

    {% endblock %}

</head>
<body>
    <header class="header">
        <div class="name_header">Telmo Panaças</div>
        {% if request.user.is_authenticated %}
            <nav class="navbar">
                <a href="{%  url 'portfolio:home' %}" class="button_home">home</a>
                <a href="{% url 'portfolio:about' %}" class="button_about">about</a>
                <a href="{% url 'portfolio:projetos' %}" class="button_projectos">projectos</a>
                <a href="{% url 'portfolio:posts' %}" class="button_blog">blog</a>
                <a href="{% url 'portfolio:web' %}" class="button_web">web</a>
                <a href="{% url 'portfolio:contact' %}" class="button_contact">contact</a>
                <a href="{% url 'portfolio:logout' %}" class="button_login" style="background-color: #F5D10D">logout</a>
            </nav>
        {% else %}
            <nav class="navbar">
                <a href="{%  url 'portfolio:home' %}" class="button_home">home</a>
                <a href="{% url 'portfolio:about' %}" class="button_about">about</a>
                <a href="{% url 'portfolio:projetos' %}" class="button_projectos">projectos</a>
                <a href="{% url 'portfolio:posts' %}" class="button_blog">blog</a>
                <a href="{% url 'portfolio:web' %}" class="button_web">web</a>
                <a href="{% url 'portfolio:contact' %}" class="button_contact">contact</a>
                <a href="{% url 'portfolio:login' %}" class="button_login">login</a>
            </nav>
        {% endif %}

    </header>

    <main>

        {% block main %}
	    {% endblock main %}

    </main>

    <article>
        {% block article %}
        {% endblock article %}
    </article>



</body>
<footer class="footer">
    <p>
        ULHT - 2022
    </p>
</footer>

</html>