
.button_projectos {
    border-bottom: 3px solid white;
}

.body {
    margin: 0;
    padding: 0;

}
main {
    height: 85vh;
}


.titulo_div {
    background: transparent;
    padding-top: 30px;
    text-align: center;
}

.projetos_main {
    color: white;
    background: #0d0d0d;
    height: 90vh;
}


.cards-conteiner {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    color: white;
    background: #1b1a1e;
    width: 330px;
    height: 450px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}

.descricao {
    font-size: smaller;
}

.link_linkedin, .link_linkedin:hover, .link_linkedin:focus, .link_linkedin:active {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid white;
}

.TFCS_div {
    color:white;
    height: 90vh;
    background: tomato;
}