.button_about {
    border-bottom: 3px solid white;
}

main {
    height: 85vh;
    background-color: #0d0d0d;
}

.split-conteiner{
    display: grid;
    grid-template-columns: 60vh auto;

}


.info-side {
    padding: 10px;
    background: #0d0d0d;
    color: white;
    text-align: center;
}

.uni_name {
    padding-top: 15px;
}
.btn_div {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.btn {
    color: white;
    background-color: #1b1a1e;
    padding: 15px;
    border-radius: 9px;
}

.cards-side {
    background-color: #0d0d0d;
}

.cards-conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    color: white;
    background: #1b1a1e;
    width: 330px;
    height: 500px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}
.card h2 {
    padding: 10px;
}

.card p {
    padding: 5px;
}

.professors_grid {
    margin: 10px;
    display: grid;
    height: 160px;
    grid-template-columns: 150px 150px;
    grid-column-gap: 5px;
    grid-template-rows: 150px;
}

.professor {
    padding-top: 15px;
    margin: 5px;
    background: #28282B;
    border-radius: 10px;
}

.professor > a, .professor > a:hover, .professor > a:focus, .professor > a:active{
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #36454F;
}
