.split-conteiner{
    display: grid;
    min-height: 85vh;
    height: 85vh;
    grid-template-columns: 60vh auto;

}

.info-side {
    padding: 10px;
    background: #0d0d0d;
    color: white;
    text-align: center;
}
.cards-side {
    background-color: #0d0d0d;
}

.cards-conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    color: white;
    background: #1b1a1e;
    width: 330px;
    height: 450px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.card p {
    padding: 10px;
}

.professors_grid {
    margin: 10px;
    display: grid;
    height: 160px;
    grid-template-columns: 150px 150px;
    grid-column-gap: 5px;
}