{% extends 'portfolio/layout.html' %}

{% block estilos %}
    {% load static %}
    <link href="{% static 'blog/css/styles_criar_post.css'  %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <h1>Adicionar Comentário</h1>

    <div class="container">
        <form action="{% url 'portfolio:criar_comentario' post_id %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Post">
        </form>
    </div>
{% endblock %}