{% extends 'portfolio/layout.html' %}

{% block estilos %}
    {% load static %}
    <link href="{% static 'blog/css/styles_criar_post.css'  %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <h1>Adicionar Comentário</h1>

    <div class="container">
        <form action="{% url 'portfolio:criar_comentario' post_id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="autor" placeholder="Autor" class="credenciais">
            <br>
            <input type="text" name="descricao" placeholder="Descrição" class="credenciais">
            <br>
            <button type="submit" value="Login" class="submit">Comentar</button>
        </form>
    </div>
{% endblock %}