{%  extends 'portfolio/layout.html' %}
{% block script %}
    {% load static %}
    <script src="{% static 'web/js/ipma.js' %}"></script>
    <script src="{% static 'web/js/google_search.js' %}"></script>
{% endblock %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/css/styles_web.css' %}" type="text/css">

	<div class="quizz_div">
        <h1 class="quizz_titulo" id="quizz">Quizz</h1>
         <form method="POST" action="" enctype="multipart/form-data">
             {% csrf_token %}
             <div class="info_container">
                <fieldset>
                    <legend class="info_legend">Info</legend>
                    <p>Nome <input type="text" name="nome" placeholder="ex: Pedro" required></p>
                    <p>Apelido <input type="text" name="apelido" placeholder="ex: Amarildo" required></p>
                    <p>Email <input type="email" name="email" placeholder="ex: pedroamarildo2006@gmail.com" required></p>
                </fieldset>
             </div>

             <div class="perguntas_container">
                <fieldset>
                    <legend>Perguntas</legend>
                    <div>
                        <p>Qual tag abaixo pertence a um menu de navegação?</p>
                            <br>
                            <input type="radio" name="p1" value="Item" id="item">
                            <label for="item">item</label>
                            <input type="radio" name="p1" value="Nav" id="nav">
                            <label for="nav">nav</label>
                            <input type="radio" name="p1" value="Menu" id="menu">
                            <label for="menu">menu</label>

                    </div>
                    <br>
                    <div>
                        <p>Qual Tag abaixo pertence ao HTML?</p>
                        <br>
                        <input type="radio" name="p2" value="Super" id="super">
                        <label for="super">super</label>
                        <input type="radio" name="p2" value="Sup" id="sup">
                        <label for="sup">sup</label>
                        <input type="radio" name="p2" value="Weight" id="weight">
                        <label for="weight">weight</label>

                    </div>
                    <br>
                    <div>
                        <label for="opcoes2">Como arredondar os cantos em CSS?</label>
                        <input list="opcoes" name="p3" id="opcoes2">
                        <datalist id="opcoes">
                            <option value="border[round]: 30px;"></option>
                            <option value="corner-effect: round;"></option>
                            <option value="border-radius: 30px;"></option>
                            <option value="alpha-effect: round-corner;"></option>
                        </datalist>
                    </div>

                </fieldset>
             </div>
            <input type="submit" value="Submit" class="submit_btn">
            </form>

    </div>

    <div class="meteorologia_div">
        <h1>Meteorologia</h1>
        <br>

        <div class="meteo_conteiner">
            <div class="meteo_card">
                <h2>Lisboa</h2>
                <br>
                <div class="content_grid">
                    <div class="img_div">

                    </div>
                    <div class="info_div">
                        <p id="data_lisboa">Data</p>

                        <p id="t_max_lisboa">T.Max</p>
                        <p id="t_min_lisboa">T.Min</p>
                    </div>
                </div>

            </div>
            <div class="meteo_card">
                <h2 id="nome_cidade">Porto</h2>
                <br>
                <div class="content_grid">
                    <div class="img_div">

                    </div>
                    <div class="info_div">
                        <p id="data_porto">Data</p>

                        <p id="t_max_porto">T.Max</p>
                        <p id="t_min_porto">T.Min</p>
                    </div>
                </div>
            </div>
            <div class="meteo_card">
                <h2 id="nome_cidade">Faro</h2>
                <br>
                <div class="content_grid">
                    <div class="img_div">

                    </div>
                    <div class="info_div">
                        <p id="data_faro">Data</p>

                        <p id="t_max_faro">T.Max</p>
                        <p id="t_min_faro">T.Min</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="google_search">
        <h1>Get Top 4 Google search results:</h1>
        <br>
        <h2 id="result1"></h2>
        <h2 id="result2"></h2>
        <h2 id="result3"></h2>
        <h2 id="result4"></h2>
        <h2 id="result5"></h2>
        <br><br>

        <div class="search_div">
            <div class="container">
                <div class="icon_div"></div>
                <input type="text" id="question" class="search_input">
            </div>
        </div>



    </div>



{% endblock %}