@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

.button_home {
    border-bottom: 3px solid white;
}
.main {
    height: 100%;
    background-image: url("../images/hero_background_test2.de7ba93b94bc.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titulo {
    text-align: center;
    padding-top: 20vh;
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 70vh;
}


article.primeiro {

    font-family: 'Roboto Mono', monospace;
    height: 80vh;
    background: orange;
    padding: 0 4vw;
    text-align: center;
    font-size: 2rem;
}

article.segundo {
  /* como tem menu e rodapé visíveis (10vh cada), define-se como altura 80vh. */
  height: 80vh;
  background-image: url("../images/hero_background.b367e79925f6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: start;
}

