@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.header {
    height: 10vh;
    background: #0d0d0d;
    color: white;
    top: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.name_header {
    font-size: 2em;
    padding: 1em;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}


.footer {
    height: 10vh;
    color: white;
    background: #0d0d0d;
    text-align: center;
    padding-top: 25px;
}

