@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Condensed:wght@700&display=swap');


.button_home {
    border-bottom: 3px solid white;
}
.main {
    height: 100%;
    background-image: url("../images/hero_background_test2.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.time {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: white;
    font-size: 100px;
    padding-top: 280px;
    padding-bottom: 60vh;
}

.titulo {
    text-align: center;
    padding-top: 20vh;
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;

}


article.primeiro {

    font-family: 'Roboto Mono', monospace;
    height: 80vh;
    background: orange;
    padding: 0 4vw;
    text-align: center;
    font-size: 2rem;
}

article.segundo {
  /* como tem menu e rodapé visíveis (10vh cada), define-se como altura 80vh. */
  height: 80vh;
  background-image: url("../images/hero_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: start;
}

